<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/base.css" />
    <!-- <link rel="stylesheet" href="./css/dark.css" /> -->
    <link rel="stylesheet" href="./css/detail.css" />
  </head>
  <body>
    <main>
      <div class="main-wrapper">
        <div class="main-header">
          <h1>nonebot-plugin-bilichat</h1>
          <p>By djkcyl & Well404 | v6.2.7</p>
        </div>
        <div class="inner-flex">
          <h2 class="deco">简介</h2>
          <div class="card">全功能的 bilibili 内容解析器及订阅器</div>
        </div>
        <div class="inner-flex">
          <h2 class="deco">用法</h2>
          <div class="card">
            视频、专栏、动态解析直接发送链接、小程序、xml卡片即可, 指令请参考
            https://github.com/Well2333/nonebot-plugin-bilichat
          </div>
        </div>
        <div class="inner-flex">
          <div>
            <h2 class="deco">功能</h2>
          </div>
          <div class="card-grid functions">
            <div class="card flex relative">
              <div class="index"><span class="no">No.</span>1</div>
              <h3>添加订阅</h3>
              <p>
                触发条件：群聊 + 主人<br />
                触发方式：/sub<br />
                UP 主的昵称或 UID
              </p>
            </div>
            <div class="card flex relative">
              <div class="index"><span class="no">No.</span>2</div>
              <h3>移除订阅</h3>
              <p>
                触发条件：群聊 + 主人<br />
                触发方式：/unsub<br />
                UP 主的昵称或 UID
              </p>
            </div>
            <div class="card flex relative">
              <div class="index"><span class="no">No.</span>3</div>
              <h3>查看本群订阅</h3>
              <p>
                触发条件：群聊 + 无限制<br />
                触发方式：/check<br />
                无
              </p>
            </div>
            <div class="card flex relative">
              <div class="index"><span class="no">No.</span>4</div>
              <h3>设置是否 at 全体成员, 仅 OB11 有效</h3>
              <p>
                触发条件：群聊 + 主人<br />
                触发方式：/atall<br />
                UP 主的昵称或 UID, 或 `全局`
              </p>
            </div>
            <div class="card flex relative">
              <div class="index"><span class="no">No.</span>5</div>
              <h3>验证码登录</h3>
              <p>
                触发条件：无限制 + 主人<br />
                触发方式：/smslogin<br />
                无
              </p>
            </div>
            <div class="card flex relative">
              <div class="index"><span class="no">No.</span>6</div>
              <h3>二维码登录</h3>
              <p>
                触发条件：无限制 + 主人<br />
                触发方式：/qrlogin<br />
                无
              </p>
            </div>
            <div class="card flex relative">
              <div class="index"><span class="no">No.</span>7</div>
              <h3>Lorem</h3>
              <p>
                触发条件：无限制<br />
                触发方式：/abc<br />
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
            <div class="card flex relative">
              <div class="index"><span class="no">No.</span>8</div>
              <h3>Lorem</h3>
              <p>
                触发条件：无限制<br />
                触发方式：/abc<br />
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit delectus
                quo magni porro fugiat laudantium reprehenderit dolorum optio, explicabo
                maiores voluptatum quos, at ea? Blanditiis, quisquam. Dicta fugiat
                quibusdam debitis!
              </p>
            </div>
          </div>
        </div>
        <div class="main-footer">
          Generated by PicMenu-Next v0.1.0 | Made by LgCookie with ❤️
        </div>
      </div>
    </main>
  </body>
</html>
