main {
  width: 100%;
}

.inner-flex {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.card-grid.functions {
  --grid-columns: 2;
}

.func-meta {
  display: block;
}

.func-meta > span {
  display: inline;
}

.func-meta > .md {
  display: inline;
}

.func-meta > .md > p {
  display: inline;
}
